@model Sedodream.SelfPub.ConfigService.Models.PageModels.HomePageModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ASP.NET Web API</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <header>
        <div class="content-wrapper">       
            <div class="float-left">
                <p class="site-title">All Packages</p>
            </div>
        </div>
    </header>
    <div id="body">
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h2>Below are all the packages which currently exist in the repository.</h2>
                </hgroup>
            </div>
        </section>
        <section class="content-wrapper main-content clear-fix">
            <ol class="round">
                @foreach (Sedodream.SelfPub.Common.Package package in Model.Packages) {
                    <li><h5>@package.Name - @package.PackageLocation - @package.DateCreated.ToString("MM/dd/yyyy hh:mm:ss") -  @package.PackageType</h5></li>
                }
            </ol>
        </section>
        <a href="@Url.Action("AddPackage","Home")">Add a package</a>
    </div>
</body>
</html>
